<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>病院登録確認</title>
</head>
<body>
   <h2>病院登録確認</h2>
   <form method="post" action="{% url 'confirm_hospital_registration' %}">
       {% csrf_token %}
       <p>病院ID: {{ tabyouinid }}</p>
       <p>病院名: {{ tabyouinmei }}</p>
       <p>住所: {{ tabyouinaddress }}</p>
       <p>電話番号: {{ tabyouintel }}</p>
       <p>資本金: {{ tabyouinshihonkin }}</p>
       <p>救急対応: {{ kyukyu }}</p>
       <input type="hidden" name="tabyouinid" value="{{ tabyouinid }}">
       <input type="hidden" name="tabyouinmei" value="{{ tabyouinmei }}">
       <input type="hidden" name="tabyouinaddress" value="{{ tabyouinaddress }}">
       <input type="hidden" name="tabyouintel" value="{{ tabyouintel }}">
       <input type="hidden" name="tabyouinshihonkin" value="{{ tabyouinshihonkin }}">
       <input type="hidden" name="kyukyu" value="{{ kyukyu }}">
       <button type="submit">登録</button>
   </form>
   <br>
       <a href="{% url 'register_hospital' %}" class="button">戻る</a>
</body>
</html>
